<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>about:passwords</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- we have the css/js here to test via the file uri -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/about_passwords.css" rel="stylesheet"/>
    <script src="js/jquery-1.6.2.min.js" type="application/javascript"></script>
    <script src="js/jquery.tmpl.min.js" type="application/javascript"></script>
    <script src="js/jquery.stickyscroll.js" type="application/javascript"></script>
    <script src="js/bootstrap-twipsy.js" type="application/javascript"></script>
    <script src="js/bootstrap-popover.js" type="application/javascript"></script>
    <script src="js/bootstrap-modal.js" type="application/javascript"></script>
    <script src="js/bootstrap-tabs.js" type="application/javascript"></script>
    <script src="js/about_passwords.js" type="application/javascript"></script>

    <link rel="shortcut icon" href="css/security-medium.png"/>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">about:passwords</a>

          <ul class="nav">
            <!--
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            -->
          </ul>
          <form action="" class="pull-right">
          </form>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content page">
        <div class="page-header">
          <h1>Your Score: <span id="overall-score"></span> <small>out of 100</small></h1>
          <div class="row">
            <div class="span7">Average Password Strength</div>
            <div class="span7" id="avg-strength"></div>
          </div>
          <div class="row">
            <div class="span7">Sites that share a password</div>
            <div class="span7" id="num-duplicates"></div>
          </div>
          <div class="row">
            <div class="span7">Sites that have similar passwords</div>
            <div class="span7" id="num-similar"></div>
          </div>
          <div class="row">
            <div class="span7">Unsecure sites that use passwords</div>
            <div class="span7" id="num-unsecure"></div>
          </div>
          <div class="row">
            <div class="span7">Passwords older than 90 days</div>
            <div class="span7" id="num-old"></div>
          </div>
          <div class="row">
            <div class="span7">Sites with logins</div>
            <div class="span7" id="total-logins"></div>
          </div>
        </div>
        <div class="row">
          <div class="span10" id="logins-list">
          </div>
          <div class="span4">
            <div id="login-detail" class="modal hide fade" offsetHeight="100"/>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>

      </footer>

    </div> <!-- /container -->

<script id="login-entry-tmpl" type="text/x-jquery-tmpl">
    <div class="login-entry">
        <div class="modal-header login-entry-header">
            <div>
                <strong><span type="host">${entry.host}</span></strong>
                <a class="close" href="#">x</a>
            </div>
            <div style="clear:both;"/>
        </div>
        <div  class="modal-body">
            <ul class="tabs">
                {{each( i, l ) accounts}}
                {{if l.active}}<li class="active">{{else}}<li>{{/if}}
                <a href="#${i}">${l.username}</a></li>
                {{/each}}
            </ul>
            <div class="pill-content">
            {{each( i, l ) accounts}}
                {{if l.active}}
                <div id="${i}" class="active">
                {{else}}
                <div id="${i}">
                {{/if}}
                    {{if l.unsecure}}
                        <span class="label warning" type="unsecure">unsecure</span>
                        <div>This site uses an unsecured connection which could put your account at risk.</div>
                    {{/if}}
                    {{if l.usedBy.length > 1}}
                    <span class="label important" type="shared" data="${l.usedBy}">shared</span>
                        <div>
                        <strong>This site shares a password with ${l.usedBy.length} other sites.</strong>
                        Sharing passwords between unrelated sites puts all the sites at risk.
                        {{if l.hasUnsecure}}
                        Additionally, <strong>one or more of those sites uses this password over an
                        unsecured connection</strong>, raising your risk even further.
                        {{/if}}
                        </div>
                    {{/if}}
                        {{if l.similarTo.length > 0}}
                        <span class="label notice" type="similar" data="${l.similarTo}">similar</span>
                        <div>
                        <strong>This sites password is similar to ${l.similarTo.length} other sites.</strong>
                        </div>
                        {{/if}}
                    {{if l.age > 90}}
                        <span class="label warning" type="over_90">over 90</span>
                    {{/if}}
                    {{if l.strength > 80}}
                        <span class="label success" type="strong_password">strong ${l.strength}</span>
                        <div>Your password is good.</div>
                    {{else l.strength > 50}}
                        <span class="label warning" type="medium_password">medium ${l.strength}</span>
                        <div>Your password could be stronger, consider changing it.</div>
                    {{else}}
                        <span class="label important" type="weak_password">weak ${l.strength}</span>
                        <div>Your password is at risk, consider changing it.</div>
                    {{/if}}
                </div>
            {{/each}}
            </div><!-- pill-content -->
        </div><!-- modal-body -->
        <div class="modal-footer">
        <a href="#">account settings</a>
        </div>
    </div>
</script>

<script id="logins-tmpl" type="text/x-jquery-tmpl">
    {{each( i, l ) logins}}
    <div class="entry" data="${l.entry}">
        <div><strong><span type="host" data="${i}">${l.host}</span></strong></div>
        <div >
        {{if l.username}}<span class="label username">${l.username}</span>{{/if}}
        <div class="pull-right flags">
        {{if l.unsecure}}
        <span class="label warning" type="unsecure">unsecure</span>
        {{/if}}
        {{if l.usedBy.length > 1}}
        <span class="label important" type="shared" data="${l.usedBy}">shared</span>
        {{/if}}
        {{if l.similarTo.length > 0}}
        <span class="label notice" type="similar" data="${l.similarTo}">similar</span>
        {{/if}}
        {{if l.age > 90}}
        <span class="label warning" type="over_90">over 90</span>
        {{/if}}
        {{if l.strength > 80}}
        <span class="label success" type="strong_password">strong ${l.strength}</span>
        {{else l.strength > 50}}
        <span class="label warning" type="medium_password">medium ${l.strength}</span>
        {{else}}
        <span class="label important" type="weak_password">weak ${l.strength}</span>
        {{/if}}
        </div>
        </div>
    </div>
    {{/each}}
</script>


  </body>
</html>
