<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>about:passwords</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/about_passwords.css" rel="stylesheet"/>
    <script src="js/jquery-1.6.2.min.js" type="application/javascript"></script>
    <script src="js/jquery.tmpl.min.js" type="application/javascript"></script>
    <script src="js/bootstrap-twipsy.js" type="application/javascript"></script>
    <script src="js/bootstrap-popover.js" type="application/javascript"></script>
    <script src="js/about_passwords.js" type="application/javascript"></script>

    <link rel="shortcut icon" href="images/favicon.ico"/>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">about:passwords</a>

          <ul class="nav">
            <!--
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            -->
          </ul>
          <form action="" class="pull-right">
          </form>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content page">
        <div class="page-header">
          <h1>Your Score: <span id="overall-score"></span> <small>out of 100</small></h1>
          <div class="row">
            <div class="span7">Average Password Strength</div>
            <div class="span7" id="avg-strength"></div>
          </div>
          <div class="row">
            <div class="span7">Sites that share a password</div>
            <div class="span7" id="num-duplicates"></div>
          </div>
          <div class="row">
            <div class="span7">Sites that have similar passwords</div>
            <div class="span7" id="num-similar"></div>
          </div>
          <div class="row">
            <div class="span7">Unsecure sites that use passwords</div>
            <div class="span7" id="num-unsecure"></div>
          </div>
          <div class="row">
            <div class="span7">Passwords older than 90 days</div>
            <div class="span7" id="num-old"></div>
          </div>
          <div class="row">
            <div class="span7">Sites with logins</div>
            <div class="span7" id="total-logins"></div>
          </div>
        </div>
        <div class="row">
          <div class="span10" id="logins-list">
          </div>
          <div class="span4">
            <h3>Secondary content</h3>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>

      </footer>

    </div> <!-- /container -->


<script id="logins-tmpl" type="text/x-jquery-tmpl">
    {{each( i, l ) logins}}
    <div class="entry">
        <div><strong>${l.host}</strong></div>
        <div>{{if l.username}}<span class="label username">${l.username}</span>{{/if}}</div>
        <div class="pull-right flags">
        <div>
        {{if l.unsecure}}
        <span class="label warning" type="unsecure">unsecure</span>
        {{/if}}
        </div>
        <div>
        {{if l.usedBy.length > 1}}
        <span class="label important" type="shared" data="${l.usedBy}">shared</span>
        {{/if}}
        </div>
        <div>
        {{if l.similarTo.length > 0}}
        <span class="label notice" type="similar" data="${l.similarTo}">similar</span>
        {{/if}}
        </div>
        <div>
        {{if l.age > 90}}
        <span class="label warning" type="over_90">over 90</span>
        {{/if}}
        </div>
        <div>
        {{if l.strength > 80}}
        <span class="label success" type="strong_password">strong ${l.strength}</span>
        {{else l.strength > 50}}
        <span class="label warning" type="medium_password">medium ${l.strength}</span>
        {{else}}
        <span class="label important" type="weak_password">weak ${l.strength}</span>
        {{/if}}
        </div>
        </div>
    </div>
    {{/each}}
</script>


  </body>
</html>
